<div class="circle-nav">
  <ul>
      <li class="actived"></li>
      <li></li>
      <li></li>
  </ul>
</div>
<div class="container-fluid main-container">
  <div class="row section main-section">
    <div class="col-sm-12 center-col-section">
      <h1>Web Developer</h1>
      <div class="circle-profile">
        <div class="circle-profile-pic">
        </div>
      </div>
      <h2>- Full-Stack - </h2>
      <h3>@daviidcs</h3>
      <div class="circle-button">
          <fa-icon [icon]="faCoffee"></fa-icon>
      </div>
    </div>
  </div>
  <div class="section section-feature">

  </div>
  <div class="section section-feature2">

  </div>
</div>
